@model IEnumerable<PetShopApp.Models.Animal>
@{
    ViewData["Title"] = "Home";
}
<div class="row justify-content-md-center">
    @foreach (var animal in Model!)
    {
        <div class="col-3" >

            <div class="card m-3" style="width:12rem;">
                <div class="card-header">
                    <h3>@animal.Name</h3>
                </div>
                <img class="card-img-top" src="@animal.PictureName" asp-append-version="true" alt="card image" style="height:13rem;"  />
                <div class="card-footer text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> @Html.DisplayNameFor(Model => Model.Age) @animal.Age</li>
                        <li class="list-group-item"> @Html.DisplayNameFor(Model => Model.Comments) @animal.Comments!.Count()</li>
                        <li class="list-group-item"> @Html.DisplayNameFor(Model => Model.Category!.CategoryName) @animal.Category!.CategoryName</li>
                    </ul>
                    <a asp-controller="Animal" asp-action="ShowDetails" asp-route-id="@animal.AnimalId" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    }
</div>


